# 2022 Business Layoffs: An Analysis
## By: William Yang and John Wendlandt

### Searching for the right job is certainly not an easy process. There are several factors when deciding the company to join. The most popular factors include type of work you will do, pay, location, and benefits. But a new and much more pressing statistic is rising: layoffs. According to https://layoffs.fyi/, there were more than 140,000 tech workers who were layed off in 2022. It does not help that we currently exist in a very unstable and poor economic climate. It is almost everday now that you hear about a new company laying off hundreds of workers. The most infamous one yet is Elon Musk's cleansing of Twitter. Thus, our goal in this project is to analyze the layoffs of the top companies in 2022. Not only will we be exploring the amount of workers layed off, but we will also be examining the company's location, stage, and industry. Thus, by the end of this analysis, we will know the safest companies to join and hopefully this resource can be utilized for everyone's benefit :)

## Data Scraping and Cleaning
### The first step of this process is to gather our data into a tabular form. By doing this, it is much easier to analyze and plot any trends we see. Luckily,  https://layoffs.fyi/  provides 2022 business layoffs in a csv which is formatted tabularly. Thus, all we need to do is:

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
data = pd.read_csv("layoffs_data.csv")
data.head()

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Doma,SF Bay Area,Finance,515.0,0.400,2022-12-06,https://investor.doma.com/node/8161/html,679.0,IPO,2022-12-07 06:21:36,United States,Unknown
1,BuzzFeed,New York City,Media,180.0,0.120,2022-12-06,https://variety.com/2022/digital/news/buzzfeed...,696.0,IPO,2022-12-06 18:40:43,United States,Unknown
2,Weedmaps,Los Angeles,Other,175.0,0.250,2022-12-06,https://www.businessinsider.com/weedmaps-canna...,NaN,Acquired,2022-12-07 06:29:37,United States,Unknown
3,Adobe,SF Bay Area,Marketing,100.0,NaN,2022-12-06,https://www.bloomberg.com/news/articles/2022-1...,2.0,IPO,2022-12-07 06:30:37,United States,Unknown
4,Chipper Cash,SF Bay Area,Finance,50.0,0.125,2022-12-06,https://techcrunch.com/2022/12/06/african-fint...,302.0,Series C,2022-12-07 02:37:02,United States,Unknown

### Next, lets take out all the unnecessary columns and filter out missing data. Columns that are not important to our analysis are date, source, date added, and list of employees laid off. Regarding missing data, if neither lay off count or percentage exists, the best course of action would be to delete the row.